<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Curso html con platzi, perfeccionando el esquematizado web">
    <!--Esta línea es la descripción que debe aparecer en el navegador-->
    <meta name="robots" content="index,follow">
    <!--Esta línea es la que permite que los motores de búsqueda nos posicionen según la búsqueda-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Esta línea es para las medidas responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="../scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/style.css">

    <title>Document</title>
</head>
<body>
    <header id="Encabezado">

    </header>
    <main id="MainContent">

    </main>
    <aside id="asideContent">
        <!-- No es obligatorio utilizarlo -->
    </aside>
    <footer id="Footer">

    </footer>
</body>
</html>